<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.swc_pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
      <tr> <td>10:00 AM</td>  <td><a href="http://swcarpentry.github.io/r-novice-gapminder/01-rstudio-intro/index.html">Intro to R and R Studio</a></td> </tr>
      <tr> <td>11:30</td>  <td>Morning break - 30 mins</td> </tr>
      <tr> <td>12:00</td>  <td><a href="http://swcarpentry.github.io/r-novice-gapminder/04-data-structures-part1/index.html">Data Structures</a></td></tr>
      <tr> <td>1:00 PM</td>  <td>Lunch break - 1 hr</td> </tr>
      <tr> <td>2:00</td>  <td><a href="http://swcarpentry.github.io/r-novice-gapminder/08-plot-ggplot2/index.html">Creating Publication-Quality Graphics with ggplot2</a></td> </tr>
      <tr> <td>3:30</td>  <td>Afternoon break- 30 mins</td> </tr>
      <tr> <td>4:00</td>  <td><a href="http://swcarpentry.github.io/r-novice-gapminder/07-control-flow/index.html">Control Flow</a></td> </tr>
      <tr> <td>5:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>10:00 AM</td>  <td><a href="http://swcarpentry.github.io/r-novice-gapminder/10-functions/index.html">Functions Explained</a></td> </tr>
      <tr> <td>11:30</td>  <td>Morning break - 30 mins</td> </tr>
      <tr> <td>12:00</td>  <td><a href="http://swcarpentry.github.io/r-novice-gapminder/12-plyr/index.html">Data Frames with plyr</a></td> </tr>
      <tr> <td>1:00 PM</td>  <td>Lunch break - 1 hr</td> </tr>
      <tr> <td>2:00</td>  <td><a href="http://swcarpentry.github.io/r-novice-gapminder/13-dplyr/index.html">R: Data manipulation and visualization</a></td> </tr>
      <tr> <td>3:30</td>  <td>Afternoon break - 30 mins</td> </tr>
      <tr> <td>4:00</td>  <td>R data manipulation and visualization, continued</td> </tr>
      <tr> <td>5:30</td>  <td><a href="{{ site.swc_post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td> </tr>
      <tr> <td>16:40</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
